@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Maven+Pro:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

.App {
    width: 100vw;
    height: auto;
    font-family: 'Maven Pro', sans-serif;
    &-Header {
    
    }
}